<p id="notice"><%= notice %></p>

<p>
  <strong>Comments:</strong>
  <%= @user.comments %>
</p>

<p>
  <strong>Doctors:</strong>
  <%= @user.doctors %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
